@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../../node_modules/glyphicons-only-bootstrap/css/bootstrap.min.css";

::-webkit-scrollbar-thumb {
    display: none;
}

.panel-heading-blur {
    background-color: #445da5 !important;
    border-color: #215480 !important;
}

.label-container {
    height: 82vh;
}

.label-zpl {
    margin: 5px 0px 20px 5px;
}

.notifications .alert .glyphicon {
    font-size: 1.45rem!important;
}

.notifications .alert .msg {
    font-size: 0.75rem!important;
}

input[type=checkbox]._big, input[type=radio]._big, ._big>input[type=checkbox], ._big>input[type=radio] {
    vertical-align: middle;
    -ms-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    margin-top: 5px;
    margin-right: 10px;
}
